################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityServer/Server/obj
/Resources/Api1/obj
/.vs/KubeSail/v16/Server/sqlite3
/Clients/mvc1/bin/Debug/netcoreapp3.1
/Clients/mvc1/obj
